<header>
  <img
    src="assets/img/vinicius.png"
    alt="Vinicius Salles - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Vinícius Salles</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor Web Full stack | Angular | React | Java | PostgreSQL</p>
    <p>Petrópolis, Rio de Janeiro, Brazil</p>
    <p>
      Meu nome é Vinícius tenho 24 anos estou cursando Análise e Desenvolvimento
      de Sistemas na Universidade Estácio. Desde pequeno sempre tive uma grande
      paixão pela tecnologia e com o passar dos anos fui me interessando pela
      área de desenvolvimento web. Busco cada vez mais me aperfeiçoar e melhorar
      meus conhecimentos sempre aprendendo novas tecnologias.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            Download CV
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/vinicsalles/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="../../../../../assets/icons/whatsapp.svg"
          alt="Ícone de contato whatsapp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5524988430021&text=Ol%C3%A1%20Vinicius,%20preciso%20de%20um%20job!"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (24) 9 8843-0021</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets\icons\mail.svg"
          alt="Ícone de contato e-mail"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:viniciusallesm@gmail.com">
            <strong>Envie um e-mail para:</strong>
            <p>viniciusalles&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
